:root{
    --primaryColor: #1073ba;
    --secondaryColor: #00DA55;
    --auxiliarGray: #3B3B3B;
    --auxiliarWhite: #FFFFFF;
    --auxiliaryNoir: #1F1F1F;
    --auxiliarLightGray: #e1e1e1;

    --mainFont: 'Roboto', sans-serif;
    --secondaryFont: 'Lato', sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after{
    box-sizing: inherit;
}

body{
    font-family: var(--mainFont);
    font-size: 1.6rem;
    line-height: 1.5;
}

/** GLOBAL **/